{% extends 'base.html' %}
{% block content %}


<h1>{{ movie.title }}</h1>


<ul>
    {% if movie.imdb_url == None %}
        <li><b>IMDB URL</b>: Not specified</li>
    {% elif movie.imdb_url == "" %}
        <li><b>IMDB URL</b>: Not specified</li>    
    {% else %}
        <li><b>IMBD URL</b>: <a href="{{ movie.imdb_url }}">{{ movie.imdb_url }}</a></li>
    {% endif %}
</ul>
    <br>

    <p><b>Average rating</b>: {{ average }}</p>

    {% if prediction %}
        <p>We predict you will rate this movie {{ prediction }}.</p>
    {% endif %}

    {% if user_rating %}
        <p><b>The Eye says</b>: {{ beratement }}</p>
    {% endif %}


    <h3>Ratings</h3>
<ul>
    {% for rating in ratings %}
        <li><b>Score</b>: {{ rating.score}}</li>
    {% endfor %}


</ul>

{% if session.get("logged_in_user_id") %}
    <h3>Add a Rating</h3>
    <form action="/add-rating" method="POST">
        Your Rating: <input type='number' name='rating'><br>
        <input type="hidden" name="movie_id" value="{{ movie.movie_id }}">
        <input type="submit">
{% endif %}

{% endblock %}